* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

/* TODO:
[.] fix max height
[.] make card more vertical
[.] smaller margin for yellow heading
[.] use px for sizes (take from project docs)
[.] check on the phone
*/

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  /* margin-top: auto; */
  border-top: 5px solid grey;
  background-color: silver;
}

.max-width-wrapper {
  width: 100%;
}

.intro-chunk {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.title {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.card {
  background-color: white;
  border-bottom: 5px solid grey;
  padding: 1rem;
  width: 60%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
  margin-left: -2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: max-content;
}
